body {
	margin: auto;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif !important;
	overflow-x: hidden;
}

input:focus,input:active,textarea:focus,textarea:active {
	outline: none !important;
}

.container {
	display: flex;
	flex-flow: column wrap;
}

.topBar {
	background: #333;
	box-shadow: 0 1px 1px #444;
	z-index: 2000;
	display: flex;
	flex-flow: row wrap;
	height: 5vh;
	-webkit-app-region: drag;
}

.titleHolder {
	width: 25%;
	max-height: 100%;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.logoHolder {
	width: 25%;
	height: 75%;
	margin-left: 0.5rem;
}

.logo {
	max-height: 100%;
}

.channelHolder {
	width: 75%;
	max-height: 100%;
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

.channelTitleHolder font {
	font-size: 100%;
	color: #ed6109;
	font-weight: bold;
}

.channelTitleHolder>font:nth-child(odd) {
	margin-left: 1rem;
	color: #777;
	font-weight: normal;
}

.titleBarOptionsHolder {
	position: fixed;
	right: 0;
	height: 5vh;
	border: none;
	background: transparent;
	-webkit-app-region: no-drag;
}

.titleBarOption {
	border: none;
	height: 100%;
	width: 3rem;
	background: transparent;
	cursor: pointer;
	color: #777;
	padding-left: 1rem;
	padding-right: 1rem;
	font-size: 100%;
	transition: 0.1s all ease-in-out;
}

.titleBarOption:hover {
	background: #ed6109;
	color: #fff;
}

.sectionsHolder {
	height: 95vh;
	display: flex;
	flex-flow: row wrap;
}

#leftSection {
	width: 25%;
	background: #424242;
	display: flex;
	flex-flow: column wrap;
}

.searchFormHolder {
	display: flex;
	height: 5%;
	flex-flow: row wrap;
} 

.searchForm {
	width: 100%;
	padding: 0.5rem;
	height: 100%;
	display: flex;
	flex-flow: row wrap;
}

.searchBarHolder {
	width: 90%;
	height: 100%
}

.searchBar {
	width: 100%;
	height: 100%;
	padding: 0.5rem;
	border: none;
	color: #ccc;
	background: transparent;
	box-shadow: 0 1px 2px #333;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	transition: 0.1s all ease-in-out;
}

.searchBar:hover, .searchBar:focus {
	box-shadow: 0 1px 2px #222;
	color: #fff;
}

.searchButtonHolder {
	width: 10%;
	height: 100%;
}

.searchButton {
	width: 100%;
	height: 100%;
	padding: 0.2rem;
	border: none;
	color: #777;
	background: transparent;
	cursor: pointer;
	font-weight: bold;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	transition: 0.15s color ease-in-out;
}

.searchButton:hover, .searchButton:active {
	color: #ed6109;
}

#rightSection {
	width: 75%;
	background: #616161;
}

.messagesHolder {
	width: 100%;
	height: 85%;
	max-height: 85%;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}

.messages {
	width: 80%;
	height: 100%;
	max-height: 100%;
	display: flex;
	flex-flow: column nowrap;
	overflow-y: scroll;
  	-ms-overflow-style: none;
  	scrollbar-width: none;
}

.messages::-webkit-scrollbar {
	display: none;
}

.messageBlock {
	width: auto;
}

.msgHolder {
	height: auto;
	max-width: 60%;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	background: #585858;
	border-radius: 0.2rem;
	display: inline-block;
	padding: 0.5rem;
	box-shadow: 0 1px 1px #333;
	overflow-wrap: break-word;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif !important;
}

.timeStampHolder {
	width: 100%;
	color: #ed6109;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	font-size: 90%;
}

.msgTextHolder {
	color: #fff;
	font-size: 90%;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	font-weight: 300;
}

.sendMessageFormHolder {
	height: 15%;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.sendMessageForm {
	height: 100%;
	width: 80%;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}

.messageBoxHolder {
	width: 90%;
	height: auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.messageBox {
	padding: 0.5rem;
	width: 100%;
	resize: none;
	line-height: 1;
	color: #fff;
	border: none;
	border-radius: 0.2rem 0 0 0.2rem;
	box-shadow: 0 1px 1px #444;
	background: #565656;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	transition: 0.15s all ease-in-out;
}

.messageBox:hover, .messageBox:focus {
	color: #fff;
}

.sendMessageButtonHolder {
	width: 10%;
	display: flex;
	flex-flow: row wrap;
}

.sendMessageButton {
	width: 100%;
	padding: 0.5rem;
	border: none;
	border-radius: 0 0.2rem 0.2rem 0;
	background: #ed6109;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	cursor: pointer;
	transition: 0.2s all ease-in-out;
	box-shadow: 0 1px 1px #444;
}

.sendMessageButton:hover {
	background: #c94f02;
}